body {
  background-color: rgba(243, 170, 181, 0.601);
}

h1 {
  text-align: center;
  color: rgb(236, 132, 148);
  text-transform: uppercase;
}
p {
  text-align: center;
  color: rgb(236, 132, 148);
  text-transform: uppercase;
}

.song_container {
  display: grid;
  justify-content: center;
  gap: 10px;
}

.song {
  /* display: none; */
}
